<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>product/buy</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://127.0.0.1:8000/brat_app/index/#">
                <img src="{% static '/images/logo.jpg' %}" alt="" width="50rem" height="50rem">
            </a>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="http://127.0.0.1:8000/brat_app/wishlist_display/">
                            <i class="fa-solid fa-heart" style="font-size: 1.4rem; padding-right: 1rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="http://127.0.0.1:8000/brat_app/cart_display/">
                            <i class="fa-solid fa-cart-shopping" style="font-size: 1.3rem; padding-right: 1rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="http://127.0.0.1:8000/brat_app/home/">
                            <i class="fa-solid fa-shop" style="font-size: 1.3rem; padding-right: 1rem;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12 col-lg-6"></div>
            <div class="col-12 col-lg-6 d-flex justify-content-center">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="form">
                            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div class="col-12 col-lg-6 pb-1" style="float: left;">
                                    <img src="{% static im %}" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-12 col-lg-6 pt-2" style="float: right;">
                                    <div class="name text-center pb-2">
                                        <input type="text" name="product_name" value="{{a.product_name}}" readonly
                                               style="width: 90%;">
                                    </div>
                                    <div class="price text-center pb-2">
                                        <input type="number" name="product_price" value="{{a.product_price}}" readonly
                                               style="width: 90%;">
                                    </div>
                                    <div class="description text-center pb-2">
                                        <input type="text" name="product_description" value="{{a.product_description}}"
                                               readonly style="width: 90%;">
                                    </div>
                                    <div class="quantity text-center pb-2">
                                        <input type="number" name="product_quantity" placeholder=" Quantity"
                                               style="width: 90%;">
                                    </div>
                                    <div class="button text-center">
                                        <button type="submit" style="width: 5rem;">Buy</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/fabf2e0a42.js" crossorigin="anonymous"></script>
</body>
</html>
