<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Place Order</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://127.0.0.1:8000/">
                <img src="{% static '/images/logo.jpg' %}" alt="" width="50rem" height="50rem">
            </a>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1>Confirm Your Order Details</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="form d-flex justify-content-center bg-light" style="width:20rem">
                    <form method="post">{% csrf_token%}
                        <table>
                            <tr class="pb-2">
                                <td><label>Name</label></td>
                                <td><input type="text" name="product_name" value="{{b.product_name}}" readonly
                                           style="width:15rem"></td>
                            </tr>
                            <tr>
                                <td><label>Price</label></td>
                                <td><input type="number" name="product_price" value="{{total_amount}}" readonly
                                           style="width:15rem"></td>
                            </tr>
                            <tr>
                                <td><label>Quantity</label></td>
                                <td><input type="number" name="product_quantity" value="{{b.product_quantity}}" readonly
                                           style="width:15rem"></td>
                            </tr>
                            <tr>
                                <td class="text-center" colspan="2">
                                    <a href="http://127.0.0.1:8000/payment_details/">
                                        <button type="button" class="btn btn-primary btn-sm">Place order</button>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/fabf2e0a42.js" crossorigin="anonymous"></script>
</body>
</html>
