<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Verification Summary</title>
</head>
<body>
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-center text-center">
                <div class="box">
                    <div class="img">
                        <i class="fa-solid fa-circle-check" style="font-size: 50px;"></i>
                    </div>
                    <div class="heading">
                        <h1>Registration completed successfully</h1>
                    </div>
                    <div class="info">
                        <p>Please close this tab and check your registered email for email verification</p>
                    </div>
                    <div class="button">
                        <a href="http://127.0.0.1:8000/user_login/">
                            <button type="button" style="width: 5rem;">OK</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/fabf2e0a42.js" crossorigin="anonymous"></script>
</body>
</html>